@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative flex h-screen flex-col;
  }
}

.modal-vidal .close-btn {
  display: none;
}

.btn {
  @apply flex items-center justify-center gap-2 rounded-[5px] border border-transparent capitalize transition-all duration-300 ease-in-out;
}

.btn-primary {
  @apply border-black bg-black text-white data-[hovered]:bg-black/80;
}

.btn-inverted {
  @apply border-white bg-white text-black data-[hovered]:border-black data-[hovered]:bg-black data-[hovered]:text-white;
}

.btn-border-dark {
  @apply border-black bg-transparent text-black data-[hovered]:bg-black data-[hovered]:text-white;
}

.btn-border-none {
  @apply border-transparent bg-transparent !px-0 text-black data-[hovered]:text-black/60;
}

.btn-border-light {
  @apply border-white text-white data-[hovered]:bg-white data-[hovered]:text-black;
}

/* Button Sizes */
.btn-size-base {
  @apply px-6 py-3;
}

.btn-size-small {
  @apply px-5 py-2;
}

/* Input */
.input-label {
  @apply block mb-2 text-base;
}
.input-base {
  @apply border rounded-[4px] border-black/20 h-[47px] w-full data-[hovered]:border-black py-4 px-[14px];
}

.input-error {
  @apply text-red-500 mt-2 block;
}

[data-invalid="true"] .input-base,
[data-invalid="true"] button {
  @apply border-red-500 border-2 focus-visible:outline-0;
}

/* Swiper */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
  inset: inherit !important;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: inherit !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply !content-none;
}

.swiper-pagination-bullet-active {
  @apply !bg-black;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  @apply text-color-border;
}

/* Storybook Styles */
.sbdocs-content {
  @apply mx-auto !max-w-[1920px] w-full;
}
